<%- include("./partials/header") %>
<div class="container">
    <div style="width:30%; margin: 20px auto;">

        <h2 style="text-align: center;"> <strong> <em>כניסה</em> </strong> </h2>
        <form action="/login" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="שם משתמש">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="סיסמא">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-danger btn-block ">כניסה</button>
            </div>
        </form>

       
    </div>
</div>
<%- include("./partials/footer") %>