<%- include ("../partials/header")%>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;">הוסף מקום אירוח חדש</h1>
                 <div style="width:30%; margin: 20px auto;">
                   <form action="/campGround" method="POST">  
                  
                   <div class="form-group">
                       <input type="text" class="form-control" name="name" placeholder="הכנס שם אתר">
                   </div>
                  
                   <div class="form-group">
                       <input type="number" class="form-control" name="price" placeholder="מחיר" min="0.01" step="0.01" >
                   </div>
                   <div class="form-group">
                    <select class="form-control" name="location">
                        <option value="">מיקום</option>
                        <option value="north">צפון</option>
                        <option value="east">מערב</option>
                        <option value="south">דרום</option>
                        <option value="center">מרכז</option>
                        <option value="bne-brak">בני ברק</option>
                      </select>   
                   </div>
                   <div class="form-group">
                       <input type="text" class="form-control" name="home" placeholder="תמונה מתוך הדירה ">
                   </div>
                   <div class="form-group">
                       <input type="text" class="form-control" name="home1" placeholder="תמונה מתוך הדירה ">
                   </div>
                   <div class="form-group">
                       <input type="text" class="form-control" name="autside" placeholder="תמונה מבחוץ">
                   </div>
                   <div class="form-group">
                       <input type="text" class="form-control" name="autside1" placeholder="תמונה מבחוץ">
                   </div>
                   <div class="form-group">
                       <input type="text" class="form-control" name="description" placeholder="תיאור המקום">
                   </div>
                   <div class="form-group">
                       <button class="btn btn-lg btn-primary btn-block ">הוסף מקום</button>
                   </div>
   
                   </form>
                   <a href="/campGround">חזור</a>
                   </div> 
   </div>
</div>
<%- include ("../partials/footer")%>
