<%- include ("../partials/header")%>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;color: white;text-decoration: underline;">הוסף מקום אירוח חדש</h1>
        <div style="width:50%; margin: 20px auto;">
            <form action="/campGround" method="POST">
                <!-- <form action="/campGround" autocomplete="off" method="POST"> -->
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <input type="text" class="form-control" autocomplete="off" name="name" placeholder="הכנס שם אתר" required>
                        </div>
רחוב
                        <div class="form-group">
                            <input class="form-control" autocomplete="off" type="text" name="location" id="location" placeholder="רחוב, עיר ,מדינה ">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="number" class="form-control" autocomplete="off" name="price" placeholder="מחיר" min="0.01"
                                step="0.01" required>
                        </div>
                        <div class="form-group">

                            <input list="kashrut" multiple class="form-control" name="kashrut" placeholder="חפש כשרות">
                            <datalist id="kashrut">
                                <option value="">כשרות</option>
                                <option value="kehilot">קהילות</option>
                                <option value="harav-landau">הרב לנדאו</option>
                                <option value="harav-rubin">הרב רובין</option>
                                <option value="harav-majpud">הרב מחפוד</option>
                                <option value="beit-yosef">בית יוסף</option>
                                <option value="chabad">חבד</option>
                                <option value="heda-charedit">עדה החרדית </option>
                            </datalist>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" name="description" autocomplete="off" placeholder="תיאור המקום">
                </div>

                <div class="form-group">
                    <button class="btn btn-lg btn btn-primary btn-block" type="button" data-toggle="collapse"
                        data-target="#multiCollapseExample3" aria-expanded="false"
                        aria-controls="multiCollapseExample3">הוסף תמונות</button>
                </div>
                <div class="row">
                    <div class="collapse multi-collapse" id="multiCollapseExample3">

                        <div class="col-md-6">

                            <div class="form-group">
                                <input type="text" class="form-control" name="home" placeholder="תמונה מתוך הדירה "
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="home1" placeholder="תמונה מתוך הדירה "
                                    required>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <input type="text" class="form-control" name="autside1" placeholder="תמונה מבחוץ"
                                    required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="autside" placeholder="תמונה מבחוץ"
                                    required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn btn-warning btn-block" type="button" data-toggle="collapse"
                        data-target="#multiCollapseExample2" aria-expanded="false"
                        aria-controls="multiCollapseExample2">הוסף דברים כלולים</button>
                </div>
                <div class="row check-color">
                    <div class="collapse multi-collapse" id="multiCollapseExample2">

                        <div class="col-lg-4">
                            <label for="airconditioner">
                                מיזוג אוויר :
                                <input id="checkair" type="checkbox" name="airconditioner" id="airconditioner">
                            </label>
                            <label for="parking">
                                חניה :
                                <input type="checkbox" name="parking" id="parking">
                            </label>
                        </div>
                        <div class="col-lg-4">
                            <label for="platter">
                                פלטה :
                                <input type="checkbox" name="platter" id="platter">
                            </label>
                            <label for="crib">
                                מיטת תינוק/לול :
                                <input type="checkbox" name="crib" id="crib">
                            </label>
                        </div>
                        <div class="col-lg-4">
                            <label for="linen">
                                כלי מיטה :
                                <input type="checkbox" name="linen" id="linen">
                            </label>
                            <label for="kettle">
                                מיחם שבת :
                                <input type="checkbox" name="kettle" id="kettle">
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button id="btn1" class="btn btn-danger btn-block">צור מקום</button>
                </div>
            </form>
            <a href="/campGround">חזור</a>
        </div>
    </div>
</div>
<%- include ("../partials/footer")%>